:root {
  /* https://developer.chrome.com/docs/css-ui/animate-to-height-auto */
  interpolate-size: allow-keywords;
}

#background {
  position: fixed;
  inset: 0;
  opacity: .8;
  filter: blur(80px);
  z-index: -1;
}

#background > div {
  position: absolute;
  inset: 0;
  scale: .7;
  border-radius: 50%;
  background: conic-gradient(
    color(display-p3 .0 .1 .6),
    color(display-p3 .0 .25 .55),
    color(display-p3 .0 .85 1),
    color(display-p3 .09 .24 .62),
    color(display-p3 .25 0 .82),
    color(display-p3 .0 .09 .45)
  );
  animation: spin 10s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(1turn); }
}

html {
  --clr-text-dark: #1F1F1F;
  --clr-text-light: #E1E1E1;

  --clr-primary: #00FF7AAA;
  --clr-background: #FFFFFF0A;
  --clr-border: lightsteelblue;
  --clr-focus: #929292;
  --clr-hover: #FFFFFF1A;

  font-family: sans-serif;
  font-size: max(12px, 1rem * 75 / 100);
  color: var(--clr-text-light);
  background: black;
  text-rendering: optimizeLegibility;
}

html, body {
  width: min-content;
  height: min-content;
  width: calc-size(min-content, size);
}

@starting-style {
  body {
    width: 0;
    opacity: 0;
  }
}

body {
  /*
    Chrome injects a stylesheet in popup ui which reduces the font size to 75%.
    Set the font size to `inherit`, so that it is consistent across all browsers.
    https://stackoverflow.com/q/71480433/14822191
  */
  font-size: inherit;
  background: transparent;
  transition: opacity .5s, width .2s;
}

span {
  align-content: center;
}

img {
  image-rendering: smooth !important; /* Firefox */
  image-rendering: -webkit-optimize-contrast !important;
}

x-input, x-select, x-button {
  width: 100%;
  height: 2em;
}

x-tabview {
  &::part(scrollable) {
    /*
     * The window size adapts to its content due to 'min-content'.
     * But we want the tab list to not influence the window min-width.
     * Use 'inline-size' so that the tab list size can be computed in isolation.
     */
    contain: inline-size;
  }
}

x-tab {
  font-weight: bold;
}

x-tabpanel {
  display: grid;
  gap: 1em;
  background: #0B1221AA;

  &[name=password] {
    grid-template-columns: auto 30ch 10ch;

    & > #exhaustive {
      grid-column: 1 / 4;
    }

    & > #password {
      grid-column: 1 / 4;
    }
  }

  &[name=qrcode] {
    & > div {
      display: flex;
      gap: 1em;

      & > *:not(x-input) {
        flex-shrink: 0;
      }

      & > #otpcode {
        font-family: monospace;

        &::part(input) {
          letter-spacing: .5ch;
        }
      }

      & > span {
        --angle: 360deg;

        position: relative;
        aspect-ratio: 1;
        text-align: center;
        white-space: nowrap;
        user-select: none;
        font-family: monospace;

        &::before {
          content: "";
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background: conic-gradient(var(--clr-primary) var(--angle), transparent var(--angle));
          mask: radial-gradient(farthest-side, transparent calc(100% - 2px), black);
        }
      }

      & > #downloadqrcode {
        width: 3em;
        margin-left: 2em;
      }
    }

    & > #gravatar,
    & > #qrcode::part(svg) {
      width: 256px;
      aspect-ratio: 1;
    }

    & > #gravatar {
      position: relative;
      border-radius: 50%;
      border: 12px solid #FFFFFF10;
    }
  }

  &[name=about] {
    & > h1 {
      font-size: 2em;
      background: linear-gradient(
        0deg,
        color(display-p3 .28 1 .61) 0%,
        color(display-p3 .22 .8 .68) 25%,
        color(display-p3 0 .78 .81) 50%,
        color(display-p3 .22 .69 .9) 75%,
        color(display-p3 .5 .75 1) 100%
      );
      background-clip: text;
      color: transparent;
      text-wrap: nowrap;
      user-select: none;
      filter: drop-shadow(0 0 5px black) url(#text-glow);
    }

    & > div {
      display: flex;
      gap: 1em;

      & > * {
        flex: 1;
      }
    }

    & > x-button[name=github] {
      justify-content: start;
      font-size: 1.5em;
      padding-inline: 1em;
      letter-spacing: .1em;

      & > svg:last-of-type {
        margin-left: auto;
      }
    }
  }
}
